body{
    background: #1a1a1a;
    color: white;
}

#control{
    -webkit-app-region: drag;
    width: 100%;
    height: 100vh;
    z-index: 99;
    top: 0;
    left: 0;
    position: absolute;
    background: transparent;
}

#download{
    position: absolute;
    bottom: 15px;
    width: 80%;
    left: 10%;
    height: 25px;
}

#download-label{
    position: absolute;
    top: 20vh;
    width: 97%;
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}